/**********************************
GLOBAL SETTINGS
***********************************/

* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #2b2b2b;
  background: #f0f0f0;
}



/**********************************
LINK STYLES
***********************************/

a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #50d2c2;
}



/**********************************
SECTION STYLES
***********************************/

.main-nav {
  width: 100%;
  background: #2f0a28;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 400;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.nav .name {
    display: block;
    margin-right: auto;
    color: #fff;
    font-weight: 700;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a.selected, nav a:hover {
  color: #50d2c2;
}

header {
  text-align: center;
  background: url('images/washington-dc.jpg') no-repeat top center;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}
header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 7px solid rgba(80, 210, 194, .6);
  transition: all .5s;
}
header .profile-image:hover {
  transform: scale(1.2) rotate(5deg);
  border: 3px dotted rgba(80, 210, 194, .6);
}
.tag {
  background-color: #fff;
  color: #2b2b2b;
  padding: 10px;
  display: table;
  margin: 10px auto;
} 
.location {
  background-color: rgba(80, 210, 194, .6);
  color: #fff;
} 

.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 2px solid #ccc;
}

ul.skills {
  padding: 0;
  text-align: center;
}
.skills li {
  display: inline-block;
  background: #2f0a28;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}
.skills li:nth-child(odd) {
  background: #50d2c2;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}
footer .copyright {
  top: -8px;
  font-size: .75em;
  color: #2f0a28;
}
footer .creative-commons {
  font-size: .75em;
  color: #767676;
}



/**********************************
STYLES FOR LARGER SCREENS
***********************************/

@media screen and (min-width: 720px) {
  
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }

  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}
